In [2]:
import mysql.connector as conn

In [29]:
mydb = conn.connect(host = 'localhost',user = 'root',passwd = 'root')

In [30]:
mydb

In [31]:
cursor = mydb.cursor()

In [32]:
cursor.execute("show databases;")

In [33]:
# the below comand will give a list of tuples
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testshashank',)]

### Creating database

In [13]:
cursor.execute("create database testshashank")

In [14]:
cursor.execute("create table testshashank.table1(student_id INT(10), student_fname VARCHAR(30), student_lname varchar(30), rgstrn_id INT(10), classname VARCHAR(30))")

Fetching all the tables in a database

In [15]:
cursor.execute("use testshashank")

In [16]:
cursor.execute("show tables")

In [17]:
cursor.fetchall()

[('table1',)]

### Inserting record in tables

In [18]:
cursor.execute("insert into testshashank.table1 values(1, 'Shashank', 'Tripath',1,'ineuron');")

In [19]:
cursor.execute("commit;") # mydb.commit() -- both will work

In [20]:
cursor.execute("select * from testshashank.table1")

In [21]:
cursor.fetchall()

[(1, 'Shashank', 'Tripath', 1, 'ineuron')]

In [22]:
cursor.execute("insert into testshashank.table1 values(2, 'Devesh', 'Tripathi',2,'ineuron');")

In [23]:
mydb.commit()

In [34]:
cursor.execute("insert into testshashank.table1 values(3, 'Sudha', 'Tripathi',3,'ineuron');")
mydb.commit()
cursor.execute("select * from testshashank.table1")
cursor.fetchall()

[(1, 'Shashank', 'Tripath', 1, 'ineuron'),
 (2, 'Devesh', 'Tripathi', 2, 'ineuron'),
 (3, 'Sudha', 'Tripathi', 3, 'ineuron'),
 (3, 'Sudha', 'Tripathi', 3, 'ineuron')]